<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CrmWorkTargetPOMapper">

    <!--   表中列对应PO -->
    <resultMap type="com.hd.kzscrm.dao.entity.agent.CrmWorkTargetPO" id="BaseResultMap">
                    <result column="ID" property="id" jdbcType="BIGINT"/>
                    <result column="APPLY_MONTH" property="applyMonth" jdbcType="TIMESTAMP"/>
                    <result column="AGENT_NUM" property="agentNum" jdbcType="BIGINT"/>
                    <result column="CANTEEN_NUM" property="canteenNum" jdbcType="BIGINT"/>
                    <result column="APPLY_USER_ID" property="applyUserId" jdbcType="BIGINT"/>
                    <result column="UPDATE_ID" property="updateId" jdbcType="BIGINT"/>
                    <result column="CREAT_TIME" property="creatTime" jdbcType="TIMESTAMP"/>
                    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
                    <result column="ORDER_MONEY" property="orderMoney" jdbcType="DECIMAL"/>
                    <result column="APPLY_STATUS" property="applyStatus" jdbcType="BIGINT"/>
                    <result column="TARGET_TYPE" property="targetType" jdbcType="BIGINT"/>
                    <result column="TEAM_ID" property="teamId" jdbcType="BIGINT"/>
                    <result column="BUSINESS_ID" property="businessId" jdbcType="BIGINT"/>
                    <result column="AGENT_ID" property="agentId" jdbcType="BIGINT"/>
                    <result column="ORDER_MONEY" property="orderMoney" jdbcType="DECIMAL"/>
            </resultMap>

    <!-- 显示的记录对应的列-->
    <sql id="Base_Column_List">
        	        	           crmworktarget.id as id,
	                	        	           crmworktarget.apply_month as applyMonth,
	                	        	           crmworktarget.agent_num as agentNum,
	                	        	           crmworktarget.canteen_num as canteenNum,
	                	        	           crmworktarget.apply_user_id as applyUserId,
	                	        	           crmworktarget.update_id as updateId,
	                	        	           crmworktarget.creat_time as creatTime,
	                	        	           crmworktarget.update_time as updateTime,
	                	        	           crmworktarget.order_money as orderMoney,
	                	        	           crmworktarget.apply_status as applyStatus,
	                	        	           crmworktarget.target_type as targetType,
	                	        	           crmworktarget.order_money as orderMoney,
	                	        	           crmworktarget.team_id as teamId,
	                	        	           crmworktarget.business_id as BusinessId,
	                	        	           crmworktarget.agent_id as AgentId
	                    </sql>
    <!-- 无分页查询 -->
    <select id="queryList" parameterType="com.hd.wolverine.util.ParamMap" resultMap="BaseResultMap">
        SELECT *
        FROM crm_work_target
       	<where>
       		 del_flag=1
       		 <if test="@Ognl@isNotEmpty(agentId)">and agent_id = #{agentId}</if>
       		 <if test="@Ognl@isNotEmpty(businessId)">and business_id = #{businessId}</if>
       		 <if test="@Ognl@isNotEmpty(targetType)">and target_type = #{targetType}</if>
       	</where>

    </select>
    
    <!-- 列表对应的查询条件组合  -->
    <sql id="queryOptions">
                                      <if test="id != null and id != ''"> AND crmworktarget.id = #{id}</if>
                                      <if test="applyMonth != null and applyMonth != ''"> AND crmworktarget.apply_month = #{applyMonth}</if>
                                                        <if test="agentNum != null and agentNum != ''"> AND crmworktarget.agent_num = #{agentNum}</if>
                                               <if test="canteenNum != null and canteenNum != ''"> AND crmworktarget.canteen_num = #{canteenNum}</if>
                                               <if test="applyUserId != null and applyUserId != ''"> AND crmworktarget.apply_user_id = #{applyUserId}</if>
                                               <if test="updateId != null and updateId != ''"> AND crmworktarget.update_id = #{updateId}</if>
                                      <if test="creatTime != null and creatTime != ''"> AND crmworktarget.creat_time = #{creatTime}</if>
                                               <if test="updateTime != null and updateTime != ''"> AND crmworktarget.update_time = #{updateTime}</if>
                                                        <if test="applyStatus != null and applyStatus != ''"> AND crmworktarget.apply_status = #{applyStatus}</if>
                                               <if test="targetType != null and targetType != ''"> AND crmworktarget.target_type = #{targetType}</if>
                                               <if test="orderMoney != null and orderMoney != ''"> AND crmworktarget.order_money = #{orderMoney}</if>
                                               <if test="TeamId != null and TeamId != ''"> AND crmworktarget.team_id = #{TeamId}</if>
                                               <if test="BusinessId != null and BusinessId != ''"> AND crmworktarget.business_id = #{BusinessId}</if>
                                               <if test="AgentId != null and AgentId != ''"> AND crmworktarget.agent_id = #{AgentId}</if>
                     </sql>

    <!-- 列表查询对应的排序选项  -->
    <sql id="orderControl">
        <if test="orders != null">
        	<foreach collection="orders.keys" index="key" item="value" open="order by" separator=",">
        		${key} ${orders[key]}
        	</foreach>
        </if>
    </sql>


    <!-- 列表查询对应的表关系SQL  -->
    <sql id="querySqlMain">
        crm_work_target crmworktarget
    </sql>

	<update id="update" parameterType="com.hd.wolverine.util.ParamMap">
		update crm_work_target
		<set>
			<if test="@Ognl@isNotEmpty(applyMonth)">apply_month=#{applyMonth},</if>
			<if test="@Ognl@isNotEmpty(agentNum)">agent_num=#{agentNum},</if>
			<if test="@Ognl@isNotEmpty(canteenNum)">canteen_num=#{canteenNum},</if>
			<if test="@Ognl@isNotEmpty(applyUserId)">apply_user_id=#{applyUserId},</if>
			<if test="@Ognl@isNotEmpty(updateId)">update_id=#{updateId},</if>
			<if test="@Ognl@isNotEmpty(creatTime)">creat_time=#{creatTime},</if>
			<if test="@Ognl@isNotEmpty(updateTime)">update_time=#{updateTime},</if>
			<if test="@Ognl@isNotEmpty(applyStatus)">apply_status=#{applyStatus},</if>
			<if test="@Ognl@isNotEmpty(targetType)">target_type=#{targetType},</if>
			<if test="@Ognl@isNotEmpty(delFlag)">del_flag=#{delFlag},</if>
			<if test="@Ognl@isNotEmpty(orderMoney)">order_money=#{orderMoney},</if>
			<!-- <if test="@Ognl@isNotEmpty(teamId)">team_id=#{teamId},</if>
			<if test="@Ognl@isNotEmpty(businessId)">business_id=#{businessId},</if>
			<if test="@Ognl@isNotEmpty(agentId)">agent_id=#{agentId},</if> -->
		</set>
		<where>
			<choose>
				<when test="@Ognl@isNotEmpty(where.delFlag)">and del_flag=#{where.delFlag}</when>
				<otherwise>del_flag=1</otherwise>
			</choose>
			<if test="@Ognl@isNotEmpty(where.id)">and id=#{where.id}</if>
			<if test="@Ognl@isNotEmpty(where.applyMonth)">and apply_month=#{where.applyMonth}</if>
			<if test="@Ognl@isNotEmpty(where.agentNum)">and agent_num=#{where.agentNum}</if>
			<if test="@Ognl@isNotEmpty(where.canteenNum)">and canteen_num=#{where.canteenNum}</if>
			<if test="@Ognl@isNotEmpty(where.applyUserId)">and apply_user_id=#{where.applyUserId}</if>
			<if test="@Ognl@isNotEmpty(where.updateId)">and update_id=#{where.updateId}</if>
			<if test="@Ognl@isNotEmpty(where.applyStatus)">and apply_status=#{where.applyStatus}</if>
			<if test="@Ognl@isNotEmpty(where.targetType)">and target_type=#{where.targetType}</if>
			<if test="@Ognl@isNotEmpty(where.orderMoney)">and order_money=#{where.orderMoney}</if>
			<if test="@Ognl@isNotEmpty(where.teamId)">and team_id=#{where.teamId}</if>
			<if test="@Ognl@isNotEmpty(where.businessId)">and business_id=#{where.businessId}</if>
			<if test="@Ognl@isNotEmpty(where.agentId)">and agent_id=#{where.agentId}</if>
		</where>
	</update>
    <!-- 分页查询对应的记录 -->
    <select id="queryPage" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
        SELECT *
        FROM  crm_work_target 
      	<where>
      		del_flag=1
      		<if test="@Ognl@isEmpty(startTime) and @Ognl@isEmpty(isSameMonth)">and DATE_FORMAT(apply_month,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m')</if>
      		<if test="@Ognl@isNotEmpty(targetType)">and target_type = #{targetType}</if>
      		<if test="@Ognl@isNotEmpty(applyStatus)">and apply_status = #{applyStatus}</if>
      		<if test="@Ognl@isNotEmpty(teamId) and teamId!=0">and team_id =#{teamId}</if>
      		<if test="@Ognl@isNotEmpty(startTime)">and date_format(apply_month,'%Y-%m') = #{startTime}</if>
      		<if test="@Ognl@isNotEmpty(applyMonth)">and date_format(apply_month,'%Y%m') = DATE_FORMAT(#{applyMonth},'%Y%m')</if>
      		<if test="@Ognl@isNotEmpty(agentId)">and  agent_id = #{agentId}</if>
      		<if test="@Ognl@isNotEmpty(businessId)">and  business_id = #{businessId}</if>
      		<if test="@Ognl@isNotEmpty(businessIds)">
				and business_id in
				<foreach collection="businessIds" index="index" item="businessId" open="(" close=")" separator=",">
					#{businessId}
				</foreach>		
			</if>
      		<if test="agentIds!=null">
				and AGENT_ID in
				<foreach collection="agentIds" index="index" item="agentId" open="(" close=")" separator=",">
					#{agentId}
				</foreach>		
			</if>
			
      	</where>
        order by id desc
      
    </select>
    
    <!-- 分页查询对应的记录 -->
    <select id="findByTeamId" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
        SELECT *
        FROM  crm_work_target 
      	<where>
      		del_flag=1
      		<if test="@Ognl@isNotEmpty(targetType)">and target_type = #{targetType}</if>
      		<if test="@Ognl@isNotEmpty(applyStatus)">and apply_status = #{applyStatus}</if>
      		<if test="@Ognl@isNotEmpty(teamId) and teamId!=0">and team_id =#{teamId}</if>
      		<if test="@Ognl@isNotEmpty(startTime)">and date_format(apply_month,'%Y-%m') = #{startTime}</if>
      		<if test="@Ognl@isNotEmpty(agentId)">and  agent_id = #{agentId}</if>
      		<if test="@Ognl@isNotEmpty(businessId)">and  business_id = #{businessId}</if>
      		<if test="@Ognl@isNotEmpty(businessIds)">
				and business_id in
				<foreach collection="businessIds" index="index" item="businessId" open="(" close=")" separator=",">
					#{businessId}
				</foreach>		
			</if>
      		<if test="agentIds!=null">
				and AGENT_ID in
				<foreach collection="agentIds" index="index" item="agentId" open="(" close=")" separator=",">
					#{agentId}
				</foreach>		
			</if>
			
      	</where>
        order by id desc
    </select>
    
    <!-- 分页查询 -->
    <select id="queryPageByParam" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
        select id, apply_month, agent_num, canteen_num, apply_user_id, update_id, creat_time, update_time, apply_status, target_type, order_money, team_id, business_id, agent_id
        from  crm_work_target 
      	<where>
      		<if test="@Ognl@isNotEmpty(delFlag)">and del_flag = #{delFlag}</if>
      		<if test="@Ognl@isNotEmpty(applyStatus)">and apply_status = #{applyStatus}</if>
      		<if test="@Ognl@isNotEmpty(targetType)">and target_type = #{targetType}</if>
      		<if test="@Ognl@isNotEmpty(teamId)">and team_id =#{teamId}</if>
      		<if test="@Ognl@isNotEmpty(teamIdsStr)">
      			and team_id in (${teamIdsStr})
      		</if>
      		<if test="@Ognl@isNotEmpty(agentId)">and agent_id =#{agentId}</if>
      		<if test="@Ognl@isNotEmpty(agentIds)">
      			and agent_id in 
      			<foreach collection="agentIds" item="agentId" index="index" open="(" separator="," close=")">
      				#{agentId}
      			</foreach>
      		</if>
      		<if test="@Ognl@isNotEmpty(businessId)">and business_id =#{businessId}</if>
      		<if test="@Ognl@isNotEmpty(stratTimes)">and apply_month =#{stratTimes}</if>
      		<if test="@Ognl@isNotEmpty(businessIds)">
      			and business_id in
      			<foreach collection="businessIds" item="businessId" index="index" open="(" separator="," close=")">
      				#{businessId}
      			</foreach>
      		</if>
      		<if test="@Ognl@isNotEmpty(applyMonth)">and date_format(apply_month,'%Y-%m') = date_format(#{applyMonth},'%Y-%m')</if>
      	</where>
        order by id asc
      
    </select>
    
    
    <select id="commonQuery" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
        select id, apply_month, agent_num, canteen_num, apply_user_id, update_id, creat_time, update_time, apply_status, target_type, order_money, team_id, business_id, agent_id
        from  crm_work_target 
      	<where>
      		<if test="@Ognl@isNotEmpty(ids)">
      			and id in 
      			<foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
      				#{id}
      			</foreach>
      		</if>
      		<if test="@Ognl@isNotEmpty(delFlag)">and del_flag = #{delFlag}</if>
      		<if test="@Ognl@isNotEmpty(applyStatus)">and apply_status = #{applyStatus}</if>
      		<if test="@Ognl@isNotEmpty(targetType)">and target_type = #{targetType}</if>
      		<if test="@Ognl@isNotEmpty(teamId)">and team_id =#{teamId}</if>
      		<if test="@Ognl@isNotEmpty(agentId)">and agent_id =#{agentId}</if>
      		<if test="@Ognl@isNotEmpty(agentIds)">
      			and agent_id in 
      			<foreach collection="agentIds" item="agentId" index="index" open="(" separator="," close=")">
      				#{agentId}
      			</foreach>
      		</if>
      		<if test="@Ognl@isNotEmpty(businessId)">and business_id =#{businessId}</if>
      		<if test="@Ognl@isNotEmpty(businessIds)">
      			and business_id in
      			<foreach collection="businessIds" item="businessId" index="index" open="(" separator="," close=")">
      				#{businessId}
      			</foreach>
      		</if>
      		<if test="@Ognl@isNotEmpty(applyMonth)">and date_format(apply_month,'%Y-%m') = date_format(#{applyMonth},'%Y-%m')</if>
      	</where>
        order by id asc
      
    </select>

	<select id="findById" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
		select * from crm_work_target 
		<where>
			del_flag = 1
			<if test="@Ognl@isNotEmpty(id)">and id =#{id}</if>
		</where>
	</select>
	
		
	
	
	</mapper>



