<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CrmPermUserRolePOMapper">

    <!--   表中列对应PO -->
    <resultMap type="com.hd.kzscrm.dao.entity.perm.CrmPermUserRolePO" id="BaseResultMap">
                    <result column="ID" property="id" jdbcType="BIGINT"/>
                    <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
                    <result column="ROLE_ID" property="roleId" jdbcType="BIGINT"/>
            </resultMap>

    <!-- 显示的记录对应的列-->
    <sql id="Base_Column_List">
        	        	           crmpermuserrole.id as id,
	                	        	           crmpermuserrole.user_id as userId,
	                	        	           crmpermuserrole.role_id as roleId
	                    </sql>
    <!-- 无分页查询 -->
    <select id="queryList" parameterType="com.hd.wolverine.util.ParamMap" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="querySqlMain"/>
        <where>
	        <include refid="queryOptions"/>
        </where> 
       	<include refid="orderControl"/>
    </select>
    
    <!-- 列表对应的查询条件组合  -->
    <sql id="queryOptions">
                                      <if test="id != null and id != ''"> AND crmpermuserrole.id = #{id}</if>
                                               <if test="@Ognl@isNotEmpty(userId)"> AND crmpermuserrole.user_id = #{userId}</if>
                                               <if test="roleId != null and roleId != ''"> AND crmpermuserrole.role_id = #{roleId}</if>
                     </sql>

    <!-- 列表查询对应的排序选项  -->
    <sql id="orderControl">
        <if test="orders != null">
        	<foreach collection="orders.keys" index="key" item="value" open="order by" separator=",">
        		${key} ${orders[key]}
        	</foreach>
        </if>
    </sql>


    <!-- 列表查询对应的表关系SQL  -->
    <sql id="querySqlMain">
        crm_perm_user_role crmpermuserrole
    </sql>


    <!-- 分页查询对应的记录 -->
    <select id="queryPage" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="querySqlMain"/>
        where 
        <include refid="queryOptions"/>
        <include refid="orderControl"/>
    </select>


	
	
		
	
	</mapper>



