<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CrmCanteenBaseInfoPOMapper">

    <!--   表中列对应PO -->
    <resultMap type="com.hd.kzscrm.dao.entity.canteen.CrmCanteenBaseInfoPO" id="BaseResultMap">
                    <result column="ID" property="id" jdbcType="BIGINT"/>
                    <result column="BUSINESS_ID" property="businessId" jdbcType="BIGINT"/>
                    <result column="CANTEEN_ID" property="canteenId" jdbcType="BIGINT"/>
                    <result column="client_type" property="clientType" jdbcType="BIGINT"/>
                    <result column="client_Nature" property="clientNature" jdbcType="BIGINT"/>
                    <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
                    <result column="LEVEL" property="level" jdbcType="BIGINT"/>
                    <result column="CANTEEN_NO" property="canteenNo" jdbcType="VARCHAR"/>
                    <result column="NAME" property="name" jdbcType="VARCHAR"/>
                    <result column="alias_name" property="aliasName" jdbcType="VARCHAR"/>
                    <result column="CANTEEN_CATEGORY_ID" property="canteenCategoryId" jdbcType="BIGINT"/>
                    <result column="CONTACT_REALNAME" property="contactRealname" jdbcType="VARCHAR"/>
                    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"/>
                    <result column="position" property="position" jdbcType="VARCHAR"/>
                    
                    <result column="WEIXIN" property="weixin" jdbcType="VARCHAR"/>
                    <result column="AREA_CODE" property="areaCode" jdbcType="BIGINT"/>
                    <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
                    <result column="STATUS" property="status" jdbcType="BIGINT"/>
                    <result column="CREATER_UID" property="createrUid" jdbcType="BIGINT"/>
                    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
                    <result column="UPDATER_UID" property="updaterUid" jdbcType="BIGINT"/>
                    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
                    <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
                    <result column="DEL_FLAG" property="delFlag" jdbcType="BIGINT"/>
                    <result column="nature" property="nature" jdbcType="BIGINT"/>
                    <result column="business_no" property="businessNo" jdbcType="VARCHAR"/>
            </resultMap>

    <!-- 显示的记录对应的列-->
    <sql id="Base_Column_List">
        	        	           crmcanteenbaseinfo.id as id,
	                	        	           crmcanteenbaseinfo.business_id as businessId,
	                	        	           crmcanteenbaseinfo.canteen_id as canteenId,
	                	        	           crmcanteenbaseinfo.client_type as clientType,
	                	        	           crmcanteenbaseinfo.position as position,
	                	        	           crmcanteenbaseinfo.client_Nature as clientNature,
	                	        	           crmcanteenbaseinfo.user_id as userId,
	                	        	           crmcanteenbaseinfo.level as level,
	                	        	           crmcanteenbaseinfo.canteen_no as canteenNo,
	                	        	           crmcanteenbaseinfo.name as name,
	                	        	           crmcanteenbaseinfo.alias_name as aliasName,
	                	        	           crmcanteenbaseinfo.canteen_category_id as canteenCategoryId,
	                	        	           crmcanteenbaseinfo.contact_realname as contactRealname,
	                	        	           crmcanteenbaseinfo.contact_phone as contactPhone,
	                	        	           crmcanteenbaseinfo.weixin as weixin,
	                	        	           crmcanteenbaseinfo.area_code as areaCode,
	                	        	           crmcanteenbaseinfo.address as address,
	                	        	           crmcanteenbaseinfo.status as status,
	                	        	           crmcanteenbaseinfo.creater_uid as createrUid,
	                	        	           crmcanteenbaseinfo.create_time as createTime,
	                	        	           crmcanteenbaseinfo.updater_uid as updaterUid,
	                	        	           crmcanteenbaseinfo.update_time as updateTime,
	                	        	           crmcanteenbaseinfo.remark as remark,
	                	        	           crmcanteenbaseinfo.del_flag as delFlag,
	                	        	           crmcanteenbaseinfo.nature as nature,
	                	        	           crmcanteenbaseinfo.business_no as businessNo
	                    </sql>
    <!-- 无分页查询 -->
    <select id="queryList" parameterType="com.hd.wolverine.util.ParamMap" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="querySqlMain"/>
        where del_flag=1
        <include refid="queryOptions"/>
       	<include refid="orderControl"/>
    </select>
    
    <!-- 列表对应的查询条件组合  -->
    <sql id="queryOptions">
                                      <if test="id != null and id != ''"> AND crmcanteenbaseinfo.id = #{id}</if>
                                               <if test="businessId != null and businessId != ''"> AND crmcanteenbaseinfo.business_id = #{businessId}</if>
                                               <if test="canteenId != null and canteenId != ''"> AND crmcanteenbaseinfo.canteen_id = #{canteenId}</if>
                                               <if test="userId != null and userId != ''"> AND crmcanteenbaseinfo.user_id = #{userId}</if>
                                               <if test="level != null and level != ''"> AND crmcanteenbaseinfo.level = #{level}</if>
                                      <if test="canteenNo != null and canteenNo != ''"> AND crmcanteenbaseinfo.canteen_no = #{canteenNo}</if>
                                               <if test="name != null and name != ''"> AND crmcanteenbaseinfo.name = #{name}</if>
                                               <if test="aliasName != null and aliasName != ''"> AND crmcanteenbaseinfo.alias_name = #{aliasName}</if>
                                                        <if test="canteenCategoryId != null and canteenCategoryId != ''"> AND crmcanteenbaseinfo.canteen_category_id = #{canteenCategoryId}</if>
                                      <if test="contactRealname != null and contactRealname != ''"> AND crmcanteenbaseinfo.contact_realname = #{contactRealname}</if>
                                               <if test="weixin != null and weixin != ''"> AND crmcanteenbaseinfo.weixin = #{weixin}</if>
                                               <if test="areaCode != null and areaCode != ''"> AND crmcanteenbaseinfo.area_code = #{areaCode}</if>
                                      <if test="address != null and address != ''"> AND crmcanteenbaseinfo.address = #{address}</if>
                                                        <if test="status != null and status != ''"> AND crmcanteenbaseinfo.status = #{status}</if>
                                               <if test="createrUid != null and createrUid != ''"> AND crmcanteenbaseinfo.creater_uid = #{createrUid}</if>
                                      <if test="createTime != null and createTime != ''"> AND crmcanteenbaseinfo.create_time = #{createTime}</if>
                                                        <if test="updaterUid != null and updaterUid != ''"> AND crmcanteenbaseinfo.updater_uid = #{updaterUid}</if>
                                      <if test="updateTime != null and updateTime != ''"> AND crmcanteenbaseinfo.update_time = #{updateTime}</if>
                                               <if test="remark != null and remark != ''"> AND crmcanteenbaseinfo.remark = #{remark}</if>
                                                        <if test="delFlag != null and delFlag != ''"> AND crmcanteenbaseinfo.del_flag = #{delFlag}</if>
                                                        <if test="nature != null and nature != ''"> AND crmcanteenbaseinfo.nature = #{nature}</if>
                                                        <if test="businessNo != null and businessNo != ''"> AND crmcanteenbaseinfo.business_no = #{businessNo}</if>
                     </sql>

    <!-- 列表查询对应的排序选项  -->
    <sql id="orderControl">
        <if test="orders != null">
        	<foreach collection="orders.keys" index="key" item="value" open="order by" separator=",">
        		${key} ${orders[key]}
        	</foreach>
        </if>
    </sql>


    <!-- 列表查询对应的表关系SQL  -->
    <sql id="querySqlMain">
        crm_canteen_base_info crmcanteenbaseinfo
    </sql>


    <!-- 分页查询对应的记录 -->
    <select id="queryPage" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="querySqlMain"/>
        where del_flag=1
        <include refid="queryOptions"/>
        <include refid="orderControl"/>
    </select>


	<!-- 根据业务员id查询食堂信息 -->
	<select id="findByBusinessId" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
		SELECT crmCanteenBaseInfo.name 
		FROM crm_canteen_base_info crmCanteenBaseInfo ,crm_business crmbusiness
		WHERE crmCanteenBaseInfo.business_id = #{businessId}
	</select>
		
	<select id="commonQuery" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
		select <include refid="Base_Column_List"/>
        from <include refid="querySqlMain"/> 
        <where>
        	<include refid="queryOptions"/>
        	<if test="@Ognl@isNotEmpty(ids)">
        		and crmcanteenbaseinfo.id in
        		<foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
        			#{id}
        		</foreach>
        	</if>
        	<if test="@Ognl@isNotEmpty(businessIds)">
        		and crmcanteenbaseinfo.business_id in
        		<foreach collection="businessIds" item="businessId" index="index" open="(" separator="," close=")">
        			#{businessId}
        		</foreach>
        	</if>
        </where>
        order by crmcanteenbaseinfo.id desc
	</select>
	
	<!-- findByCanteenId 根据findByCanteenId查询对象 -->
	<select id="findByCanteenId" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
		select * from crm_canteen_base_info 
		<where>
			del_flag=1
			<if test="@Ognl@isNotEmpty(canteenId)">and id = #{canteenId}</if>
		</where>
	</select>
	
	  <!-- 根据userId查询食堂名称 -->
	  <select id="findByUserId" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
		select * from crm_canteen_base_info 
		<where>
			del_flag=1
			<if test="@Ognl@isNotEmpty(userId)">and user_id = #{userId}</if>
		</where>
	</select>
	<!-- findLikeByName 根据商家(食堂)名称模糊查询集合 -->
	<select id="findLikeByName" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
		select * from crm_canteen_base_info
		<where>
			del_flag=1                           <!-- and order_no like CONCAT('%',#{condition},'%') --> 
			<if test="@Ognl@isNotEmpty(condition)">and name like "%"#{condition}"%" </if>
			<!-- <if test="@Ognl@isNotEmpty(businessId)">and BUSINESS_ID = #{businessId} </if> -->
		</where>
		
	</select>
	
	<!-- 根据businessID统计食堂数量 -->
	<select id="countCanteen" resultType="java.math.BigDecimal" parameterType="com.hd.wolverine.util.ParamMap">
		SELECT COUNT(business_id) FROM crm_canteen_base_info
		<where>
			<if test="@Ognl@isNotEmpty(businessId)">and business_id = #{businessId}</if>
		</where>
	</select>
	
	<!-- 查询食堂名称 -->
	<select id="getCanteenName" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
		SELECT 
			* 
		FROM
			crm_canteen_base_info
		WHERE del_flag = 1
	</select>
	
	
	 <select id="findByBusinessIds" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
		select * from crm_canteen_base_info 
		<where>
			del_flag=1
			<if test="@Ognl@isNotEmpty(businessId)">and business_id = #{businessId}</if>
		</where>
	</select>
	
	<!-- 更新保护客户为散客 -->
	<update id="changeProtectedClientToIndividualTraveler" parameterType="com.hd.wolverine.util.ParamMap">
		update crm_canteen_base_info
		<set>
			business_id = null,
			status = null,
			<if test="@Ognl@isNotEmpty(updaterUid)">updater_uid = #{updaterUid},</if>
			<if test="@Ognl@isNotEmpty(updateTime)">update_time = #{updateTime},</if>
			<if test="@Ognl@isNotEmpty(clientNature)">client_nature = #{clientNature}</if>
		</set>
		<where>
			<if test="@Ognl@isNotEmpty(id)">id = #{id}</if>
			<if test="@Ognl@isNotEmpty(delFlag)">and del_flag = #{delFlag}</if>
		</where>
	</update>
	
	</mapper>



