<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CrmDepartmentPOMapper">

    <!--   表中列对应PO -->
    <resultMap type="com.hd.kzscrm.dao.entity.business.CrmDepartmentPO" id="BaseResultMap">
                    <result column="ID" property="id" jdbcType="BIGINT"/>
                    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT"/>
                    <result column="LEVEL" property="level" jdbcType="TINYINT"/>
                    <result column="ID_NO" property="idNo" jdbcType="VARCHAR"/>
                    <result column="D_NAME" property="dName" jdbcType="VARCHAR"/>
                    <result column="AGENT_BUSINESS_ID" property="agentBusinessId" jdbcType="BIGINT"/>
                    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
                    <result column="CREATE_UID" property="createUid" jdbcType="BIGINT"/>
                    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
                    <result column="UPDATE_UID" property="updateUid" jdbcType="BIGINT"/>
                    <result column="STATUS" property="status" jdbcType="BIGINT"/>
                    <result column="DEL_FLAG" property="delFlag" jdbcType="BIGINT"/>
            </resultMap>

    <!-- 显示的记录对应的列-->
    <sql id="Base_Column_List">
        	        	           crmdepartment.id as id,
	                	        	           crmdepartment.parent_id as parentId,
	                	        	           crmdepartment.level as level,
	                	        	           crmdepartment.id_no as idNo,
	                	        	           crmdepartment.d_name as dName,
	                	        	           crmdepartment.agent_business_id as agentBusinessId,
	                	        	           crmdepartment.create_time as createTime,
	                	        	           crmdepartment.create_uid as createUid,
	                	        	           crmdepartment.update_time as updateTime,
	                	        	           crmdepartment.update_uid as updateUid,
	                	        	           crmdepartment.status as status,
	                	        	           crmdepartment.del_flag as delFlag
	                    </sql>
    <!-- 无分页查询 -->
    <select id="queryList" parameterType="com.hd.wolverine.util.ParamMap" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="querySqlMain"/>
        where del_flag=1
        <include refid="queryOptions"/>
       	<include refid="orderControl"/>
    </select>
    
    <!-- 列表对应的查询条件组合  -->
    <sql id="queryOptions">
                                      <if test="id != null and id != ''"> AND crmdepartment.id = #{id}</if>
                                               <if test="parentId != null and parentId != ''"> AND crmdepartment.parent_id = #{parentId}</if>
                                               <if test="level != null and level != ''"> AND crmdepartment.level = #{level}</if>
                                      <if test="idNo != null and idNo != ''"> AND crmdepartment.id_no = #{idNo}</if>
                                               <if test="dName != null and dName != ''"> AND crmdepartment.d_name = #{dName}</if>
                                                        <if test="agentBusinessId != null and agentBusinessId != ''"> AND crmdepartment.agent_business_id = #{agentBusinessId}</if>
                                      <if test="createTime != null and createTime != ''"> AND crmdepartment.create_time = #{createTime}</if>
                                                        <if test="createUid != null and createUid != ''"> AND crmdepartment.create_uid = #{createUid}</if>
                                      <if test="updateTime != null and updateTime != ''"> AND crmdepartment.update_time = #{updateTime}</if>
                                                        <if test="updateUid != null and updateUid != ''"> AND crmdepartment.update_uid = #{updateUid}</if>
                                               <if test="status != null and status != ''"> AND crmdepartment.status = #{status}</if>
                                               <if test="delFlag != null and delFlag != ''"> AND crmdepartment.del_flag = #{delFlag}</if>
                     </sql>

    <!-- 列表查询对应的排序选项  -->
    <sql id="orderControl">
        <if test="orders != null">
        	<foreach collection="orders.keys" index="key" item="value" open="order by" separator=",">
        		${key} ${orders[key]}
        	</foreach>
        </if>
    </sql>


    <!-- 列表查询对应的表关系SQL  -->
    <sql id="querySqlMain">
        crm_department crmdepartment
    </sql>


    <!-- 分页查询对应的记录 -->
    <select id="queryPage" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="querySqlMain"/>
        where del_flag=1
        <include refid="queryOptions"/>
        <include refid="orderControl"/>
    </select>
	<select id="findById" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
		select * from crm_department
		<where>
			del_flag = 1
			<if test="id!=null and id!=''">and id=#{id}</if>
		</where>
	</select>

	<select id="findByAgentId" resultMap="BaseResultMap" parameterType="com.hd.wolverine.util.ParamMap">
		select * from crm_department
		<where>
			del_flag = 1
			and type = 2
			<if test="agentId !=null and agentId !=''">and agent_business_id = #{agentId}</if>
		</where>
	</select>
	
		
	
	</mapper>



